<h1 onload="fetchInspiration();" class="uk-text-center uk-heading-medium">HELLO, {{username}}!</h1>

<img id="inspiration" src="" height="100%" class="uk-text-center uk-align-center">

<script src="/static/js/home.js"></script>
<script src="/static/js/general.js"></script>