<script>
  async function parse() {
    const input = document.getElementById('md').value;
    const result = await (await fetch('/services/md2html', {
      method: 'post',
      json: true,
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ markdown: input }),
    })).json();

    document.getElementById('result').innerHTML = result.html;
    hljs.initHighlightingOnLoad();
  }
</script>

<link rel="stylesheet" href="/static/highlightJS/styles/monokai-sublime.css">
<script src="/static/highlightJS/highlight.pack.js"></script>

<textarea name="md" id="md" cols="60" rows="20"></textarea>
<button onclick="parse()">Convert to HTML</button>

<div id="result">

</div>