#username {
  color: rgb(87, 171, 226);
  font-size: 26pt;
}

.username {
  color: rgb(87, 171, 226);
}

#karma {
  color: #ffb004;
  margin-bottom: 2pt;
  margin-top: -1em;
}

.karma {
  color: #ffb004;
}

.add {
  color: green;
}

.remove {
  color: firebrick;
}

.inactive_upvote, .inactive_downvote {
  color: #424242;
}

.inactive_upvote:hover {
  color:  green;
}

.inactive_downvote:hover {
  color: firebrick
}

.upvoted {
  color:  rgb(18, 165, 18);
}

.downvoted {
  color: firebrick
}

.upvoted:hover, .downvoted:hover {
  color: #424242;
}